{% extends 'main/base.html' %}
{% load static %}

{% block active_item_about %}
active
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}


	<!-- Page Top section end -->


	<!-- About Intro section -->
	<section class=" pricing-section spad">
		<div class="container">
			<div class="section-title">
				<p>The only ones</p>
				<h2>We bring Ideas to life</h2>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="about-intro-pic">
						<img src="{% static 'img/about-intro.jpg' %}" alt="">
						<a href="https://www.youtube.com/watch?v=4T31zr0fsvs" class="video-play video-popup"><i class="fa fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 about-intro-text">
					<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibus nec laoreet ipsum. Etiam lobortis erat vel ullamcorper tristique. Morbi pellentesque orci augue, quis finibus justo accumsan nec. Donec imperdiet sodales lectus sed consectetur. Mauris dignissim.Morbi pellentesque orci augue, quis finibus justo accumsan nec. Donec imperdiet sodales lectus sed consectetur. Mauris dignissim</p>
					<div class="site-btn sb-c3">Read more</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About Intro section end -->


	
	<!-- What section -->
	<section class="what-section pricing-section spad set-bg" data-setbg="img/what-bg.jpg">
		<div class="container">
			<div class="section-title text-white">
				<p>The only ones</p>
				<h2>What we do</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="what-card">
						<img src="{% static 'img/what/1.jpg' %}" alt="">
						<div class="wc-text">
							<h5>Web Hosting</h5>
							<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="what-card">
						<img src="{% static 'img/what/2.jpg' %}" alt="">
						<div class="wc-text">
							<h5>The Business</h5>
							<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="what-card">
						<img src="{% static 'img/what/3.jpg' %}" alt="">
						<div class="wc-text">
							<h5>The Sollution</h5>
							<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Whatsection end -->



	<!-- Testimonials section -->
	<section class="testimonials-section pricing-section">
		<div class="container">
			<div class="section-title">
				<p>The only ones</p>
				<h2>Testimonials</h2>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="testimonials-slider owl-carousel">
						<div class="testimonial-item">
							<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibus nec laoreet ipsum. Etiam lobortis erat vel ullamcorper tristique. Morbi pellentesque orci augue, quis finibus justo accumsan nec. Donec imperdiet sodales lectus sed consectetur. Mauris dignissim.Morbi pellentesque orci augue, quis finibus justo accumsan nec. Donec imperdiet sodales lectus sed consectetur. Mauris dignissim</p>
							<div class="ti-author-pic set-bg" data-setbg="img/testimonials/1.jpg"></div>
							<h5>Maria Smith, Client</h5>
						</div>
						<div class="testimonial-item">
							<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibus nec laoreet ipsum. Etiam lobortis erat vel ullamcorper tristique. Morbi pellentesque orci augue, quis finibus justo accumsan nec. Donec imperdiet sodales lectus sed consectetur. Mauris dignissim.Morbi pellentesque orci augue, quis finibus justo accumsan nec. Donec imperdiet sodales lectus sed consectetur. Mauris dignissim</p>
							<div class="ti-author-pic set-bg" data-setbg="img/testimonials/1.jpg"></div>
							<h5>Maria Smith, Client</h5>
						</div>
						<div class="testimonial-item">
							<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibus nec laoreet ipsum. Etiam lobortis erat vel ullamcorper tristique. Morbi pellentesque orci augue, quis finibus justo accumsan nec. Donec imperdiet sodales lectus sed consectetur. Mauris dignissim.Morbi pellentesque orci augue, quis finibus justo accumsan nec. Donec imperdiet sodales lectus sed consectetur. Mauris dignissim</p>
							<div class="ti-author-pic set-bg" data-setbg="img/testimonials/1.jpg"></div>
							<h5>Maria Smith, Client</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonials section end -->


	{% endblock %}


