
{% extends 'main/base.html' %}
{% load static %}

{% block active_item_contact %}
active
{% endblock %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}



	<!-- Services section -->
	<section class="contact-section pricing-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 contact-text">
					<h4 class="contact-title">Contact us</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris. Etiam at nibh non dolor porttitor fermentum eu vel mi. Nunc ultricies, odio at feugiat tincidunt, turpis nibh vulputate metus, eu lobortis augue lorem dictum mi. Suspendisse nec condimentum risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ut vestibulum quam.</p>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="img/contact-icons/1.png" alt="">
						</div>
						<h6>4127 Raoul Wallenber4127 Raoul Wallen berg Placea</h6>
					</div>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="img/contact-icons/2.png" alt="">
						</div>
						<h6>203-808-8613</h6>
					</div>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="img/contact-icons/3.png" alt="">
						</div>
						<h6>office@yourbusiness.com</h6>
					</div>
				</div>
				<div class="col-lg-6">
					<h4 class="contact-title">Get in touch</h4>
					<form class="contact-form">
						<input type="text" placeholder="Name">
						<input type="email" placeholder="E-mail">
						<input type="text" placeholder="Subject">
						<textarea placeholder="Message"></textarea>
						<button class="site-btn sb-c1">Submit</button>
					</form>
				</div>
			</div>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10784.188505644011!2d19.053119335158936!3d47.48899529453826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1543907528304" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</section>




	{% endblock %}
