{% extends 'main/base.html' %}
{% load static %}



{% block active_item_home %}
active
{% endblock %}
{% block extra_css %}


{% endblock extra_css %}


{% block content %}



<!-- Hero section -->
<section class="hero-section ">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" data-setbg="{% static 'img/bg.jpg' %}">
			<div class="container">
				<h2>We bring Ideas to life</h2>
				<p>We hypothesis, test, plan, build and scale solutions, we go out of our way to make your idea happen. If you choose us we assure success.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="{% static 'img/bg.jpg' %}">
			<div class="container">
				<h2>Hire Us!</h2>
				<p>Our legacy is quality,</p>
				<p>We plan,. We go out of our way to make your project happen.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>

		<div class="hs-item set-bg" data-setbg="{% static 'img/bg.jpg' %}">
			<div class="container">
				<h2>Buy one of our Products</h2>
				<p>Use one of our tested and affordable software in your business,</p>
				<p>.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="{% static 'img/bg.jpg' %}">
			<div class="container">
				<h2>Learn From the best</h2>
				<p>Our practical classes are a sure way for you to be your career,</p>
				<p>join us and get prepared for the industry.</p>
				<div class="clearfix"></div>
				<a href="" class="site-btn sb-c1">Read More</a>
			</div>
		</div>

	
	</div>
</section>
<!-- Hero section end -->

<section class="feature-section s">
	<div class="container d-flex justify-content-center align-items-center mt-1 mb-1">
		<h6 style="margin-top:20px; margin-bottom:20px"> Tools we use and Teach</h6>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1 feature">
				
			
			</div>
			<div class="col-md-1 feature">
				
			
			</div>
			<div class="col-md-1 feature">
				<img src="{% static 'icons/python.svg' %}" alt="#">
				<p>Python</p>
			</div>
			<div class="col-md-1 feature">
				<img src="{% static 'icons/js.svg' %}" alt="#">
				<p>Javascript</p>
			</div>
			<div class="col-md-1 feature">
				<img src="{% static 'icons/csharp.png' %}" alt="#">
				<p>Csharp</p>
			</div>
		
			<div class="col-md-1 feature">
				<img src="{% static 'icons/angular.png' %}" alt="#">
				<p>Angular</p>
			</div>
		
			<div class="col-md-1 feature">
				<img src="{% static 'icons/django.svg' %}" alt="#">
				<p>Django</p>
			</div>

	
			<div class="col-md-1 feature">
				<img src="{% static 'icons/node.png' %}" alt="#">
				<p>Node</p>
			</div>
			<div class="col-md-1 feature">
				<img src="{% static 'icons/mongodb.png' %}" alt="#">
				<p>Mongo Db</p>
			</div>
			<div class="col-md-1 feature">
				<img src="{% static 'icons/postgresql.png' %}" alt="#">
				<p>Postgresql</p>
			</div>
			<div class="col-md-1 feature">
			
			</div>

			<div class="col-md-1 feature">
				
			
			</div>
			<div class="col-md-1 feature">
				
			
			</div>
		
		</div>
	</div>
</section>


<!-- Feature section -->
<section class="feature-section spad">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 feature">
				<img src="{% static 'img/feature-icons/1.png' %}" alt="#">
				<h4>Worldwide Support</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri
					sque, at rutrum nulla dictum. </p>
			</div>
			<div class="col-md-4 feature">
				<img src="{% static 'img/feature-icons/2.png' %}" alt="#">
				<h4>Safe & Secure</h4>
				<p>Ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque,
					at rutrum nulla dictum. </p>
			</div>
			<div class="col-md-4 feature">
				<img src="{% static 'img/feature-icons/3.png' %}" alt="#">
				<h4>Cloud Hosting</h4>
				<p>Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien.
					Suspendisse cursus faucibus finibus.</p>
			</div>
		</div>
	</div>
</section>
<!-- Feature section end -->


<!-- About section -->
<section class="about-section spad">
	<div class="container">
		<div class="section-title">
			
			<h2>We Generate Trust</h2>
		</div>
		<div class="row">
			<div class="col-lg-5 about-img">
				<img src="{% static 'img/about.png' %}" alt="">
			</div>
			<div class="col-lg-7 about-text">
				<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis
					magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibus nec laoreet ipsum.
					Etiam lobortis erat vel ullamcorper tristique. Morbi pellentesque orci augue, quis finibus justo
					accumsan nec. Donec imperdiet sodales lectus sed consectetur. Mauris dignissim</p>
				<ul class="about-list">
					<li>Nullam lorem sem, viverra a rutrum</li>
					<li>Etiam lobortis erat vel ullamcorper</li>
					<li>Sed ultrices interdum libero, laoreet </li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- About section end -->


{% endblock content %}