

{% extends 'main/base.html' %}
{% load static %}

{% block active_item_services %}
active
{% endblock %}
{% block extra_css %}



{% endblock extra_css %}

{% block content %}




	<!-- Services section end -->

	<!-- Pricing end -->


	<!-- Add  section -->
	<div class="feature-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 add-pic">
					<a href="#"><img src="{% static 'img/add.jpg' %}" alt=""></a>
				</div>
				<div class="col-lg-6">
					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibu.</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Ipsum dolor sit amet, consectetur adipiscing elit.</button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header active" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Etiam at nibh non dolor porttitor fermentum eu vel mi.</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p>
								</div>
							</div>
						</div>
<!-- 
						<div class="panel">
							<div class="panel-header" id="headingFour">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</button>
							</div>
							<div id="collapse1" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
								<div class="panel-body">
									<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibu.</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingFive">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">Ipsum dolor sit amet, consectetur adipiscing elit.</button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header active" id="headingSix">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">Etiam at nibh non dolor porttitor fermentum eu vel mi.</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Add section end -->

	{% endblock %}