{% extends 'main/base.html' %}
{% load static %}
{% block active_item_training %}
active
{% endblock %}

{% block extra_css %}



{% endblock extra_css %}

{% block content %}

	<!-- Pricing section -->
	<section class="pricing-section spad">
		<div class="container">
			<div class="section-title text-white">
			
				<h2>Our Training Programs</h2>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="pricing-card">
						<div class="pc-header">
							<h4>Cloud Hosting</h4>
							<h5>$5.99<span>/month</span></h5>
						</div>
						<div class="pc-details">
							<div class="pc-icon">
								<img src="img/pricing-icons/1.png" alt="#">
							</div>
							<ul>
								<li>10GB File storage</li>
								<li>Unlimited websites</li>
								<li>24/7 Support</li>
								<li>Discount code engine</li>
								<li>All OS Supported</li>
								<li>Snyc Multiple Devices</li>
							</ul>
							<a href="" class="site-btn">Get Started</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="pricing-card">
						<div class="pc-header">
							<h4>VPS Hosting</h4>
							<h5>$7.99<span>/month</span></h5>
						</div>
						<div class="pc-details">
							<div class="pc-icon">
								<img src="img/pricing-icons/2.png" alt="#">
							</div>
							<ul>
								<li>10GB File storage</li>
								<li>Unlimited websites</li>
								<li>24/7 Support</li>
								<li>Discount code engine</li>
								<li>All OS Supported</li>
								<li>Snyc Multiple Devices</li>
							</ul>
							<a href="" class="site-btn">Get Started</a>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</section>
	<!-- Pricing end -->


	<!-- Add  section -->

	<!-- Add section end -->

	{% endblock %}