{% load static %}
{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
	<title>Pymont Blog - {% page_attribute 'page_title' %}</title>
	<meta charset="UTF-8">
	<meta name="description" content="{% page_attribute 'meta_description' %}">
	<meta name="keywords" content="cloud, hosting, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" />

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'css/animate.css' %}" />

	{% render_block "css" %}



	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	{% cms_toolbar %}
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<a href="{% url 'index' %}" class="site-logo">
				<!-- <img src="{% static 'img/logo.png' %}" alt="logo"> -->
			</a>
			<!-- Switch button -->
			<div class="nav-switch">
				<div class="ns-bar"></div>
			</div>
			<div class="header-right">
				<ul class="main-menu">
					{% show_menu 0 100 100 100 %}
				</ul>

			</div>
		</div>
	</header>
	<!-- Header section end -->

	{% block content %}


	{% endblock content %}

	<!-- Footer top section -->
	<section class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<div class="footer-widget about-widget">
						<!-- <img src="{% static 'img/logo.png' %}" alt=""> -->
						<!-- <p>Greatness starts here. </p> -->
						<div class="social-links">
							<a href="https://facebook.com/pymont"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/pymont"><i class="fa fa-twitter"></i></a>
							<a href="https://dribble.com/pymont"><i class="fa fa-dribbble"></i></a>
							<a href="https://behance.com/pymont"><i class="fa fa-behance"></i></a>
							<a href="https://linkedin.com/pymont"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-4">
					<div class="footer-widget">
						<h5 class="fw-title">Our Services</h5>
						<ul>
							<li><a href="#">Software Development</a></li>
							<li><a href="#">Software Development and Networking Training</a></li>


						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-4">
					<div class="footer-widget">
						<h5 class="fw-title">Training</h5>
						<ul>
							<li><a href="">Personal Based</a></li>
							<li><a href="">Company ased</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-4">
					<div class="footer-widget">
						<h5 class="fw-title">Our Products</h5>
						<ul>
							<li><a href="#">Point of sale systems</a></li>
							<li><a href="#">Enterprise Resource Planning Software</a></li>
							<li><a href="#">School Management Software</a></li>
							<li><a href="#">Rental Management Software</a></li>
							<li><a href="#">Sacco Management Software</a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- Footer top section end -->



	<!-- Footer section -->
	<footer class="footer-section">
		{% static_placeholder "Footer" %}
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/circle-progress.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	{% render_block "js" %}
</body>

</html>